@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #ebf1f3;
  --table-row-color: #e8f0f2;
  --table-row-hover-color: #b5d8f6;
  --text-color: #0a2236;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #061e32;
    --bg-secondary-color: #2e445d;
    --table-row-color: #1a2936;
    --table-row-hover-color: #2e445d;
    --text-color: #fefeff;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
